.no-margin-padding {
  margin-left: 0 !important;
  padding: 0 !important;
}

.custom-card {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1);

  border: 2px solid #ddd;
}
