.sidebar ul li {
  transition: background-color 0.3s ease;
}

.sidebar ul li:hover {
  background-color: rgba(0, 0, 255, 0.2);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  padding: 8px 0; /* Adjust the padding as needed */
}

.sidebar ul li:hover a {
  color: rgba(0, 0, 255, 0.7);
}

.active {
  background-color: gray;
  color: white;
  border-radius: 5px;
}

li {
  text-decoration: none;
}

.text-color {
  color: #252526c9;
}
