.sidebar ul li:hover {
  background-color: rgba(128, 0, 128, 0.308);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.sidebar ul li:hover a {
  color: white;
}

.active {
  background-color: gray;
  color: white;
  border-radius: 5px;
}
li {
  text-decoration: none;
}
